body,#body-text{
    text-align: center;
    background-color: rgb(185, 108, 14);
    margin-right: 40px;
        font-weight: 500;
     
    }
    body ,#form-function{
        margin-top: 800px;
        padding-top: 100px;
    }
#work1{
    padding-left: 120px;
    padding-right: 120px;
}    